body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.regresar {
    text-align: center;
    margin-top: 20px;
}

.regresar a {
    color: #fff; /* Cambiado a color blanco */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #3498db; /* Color azul */
    border-radius: 4px;
    display: inline-block;
}

.mensaje {
    color: #fff;
    background-color: #4caf50;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}

.error {
    color: #fff;
    background-color: #f44336;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}

.servicio {
width: 100%; 
padding: 10px; 
box-sizing: border-box; 
}

.espacio-adicional {
margin-bottom: 20px; 
}